@mixin btn-variant($color, $bg, $border) {
    $active-background: darken($bg, 10%);
    $active-border: darken($border, 10%);
    color: $color;
    background-color: $bg;
    border-color: $border;

    &:hover {
        color: $color;
        background-color: $active-background;
        border-color: $active-border;
    }

}


@mixin btn-sizing ($btn-padding-y, $btn-padding-x, $font-base, $border-radius) {
    padding: $btn-padding-x $btn-padding-y;
    font-size: $font-base;
    border-radius: $border-radius;
}