.home-title {
    font-size: 40px;
    font-weight: 700;
    margin: -50px 0 20px;
    color: $brand-primary;
}


.b-text {
    font-size: $font-lg;
    margin: 0 0 20px;
    color: $white;
    font-family: $fm-roboto;
    padding: 25px 25px 25px 0;
    line-height: 1.7rem;
}


.b-card {
    padding: 40px;
    text-align: center;
    color: $white;
    background-color: $base-dark;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    margin-left: 150px;
    border-radius: 10px;
    width: 60%;

    .b-title {
        font-size: 27px;
        font-weight: 700;
        color: $base-light;
        margin: 0 0 15px;

        .b-video {
            margin: 0 auto 15px;
        }
    }
}